@font-face {
  font-family: "Pier";
  src: url("./pier-regular.otf");
}

@font-face {
  font-family: "PierBold";
  src: url("./pier-bold.otf");
}

@font-face {
  font-family: "NotoSans";
  src: url("./NotoSans-Regular.ttf");
}

body {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  margin: 0;
  background: #fff;
  color: #3c3c3c;
  overflow: hidden;
  font-family: "NotoSans", "Helvetica", sans-serif;
  font-size: 16px;
}

.group {
  color: #6c6c6c;
}
* {
  user-select: none;
}

#canvas {
  width: 100%;
  height: 100vh;
}

#title-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#intro {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  width: 100%;
  height: 100%;
}

#intro-card {
  display: table-cell;
  vertical-align: middle;
}

.disable-pointer {
  pointer-events: none;
}

.header-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  font-family: "PierBold";
  font-size: 70px;
  letter-spacing: -5px;
  text-transform: uppercase;
  line-height: 52px;
  text-align: left;
}

.subheader {
  font-family: "Pier";
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  margin-top: -2px;
  position: relative;
}

a,
a:active,
.info:visited {
  font-family: "PierBold";
  text-decoration: none;
  color: #929292;
  display: inline-block;
  /*z-index: 10;*/
  position: relative;
}
a:hover {
  color: #3c3c3c;
}
a::after,
a:hover::after {
  content: " ";
  width: 100%;
  left: 0;
  background: #3c3c3c;
  position: absolute;
  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  -ms-transition: all 0.05s ease-out;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
}
a::after {
  height: 0px;
  bottom: 0px;
}
a:hover::after {
  height: 4px;
  bottom: -4px;
}

.volume-icon {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  display: inline-block;
  background-repeat: none;
  -webkit-animation: flickerAnimation 1.5s infinite;
  -moz-animation: flickerAnimation 1.5s infinite;
  -o-animation: flickerAnimation 1.5s infinite;
  animation: flickerAnimation 1.5s infinite;
}

.volume-icon {
  background-image: url("./headphones.svg");
}

.intro-volume {
  display: none;
}

@keyframes flickerAnimation {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes flickerAnimation {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
